.rightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons img, .navIcons svg {
  width: 1.5rem;
  transition: all ease-in-out .2s;
}

.navIcons img:hover, .navIcons svg:hover {
  cursor: pointer;
  transform: scale(1.1);

}
