.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
}

.post > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  transition: all .2s ease-in-out;
}

.postReact img:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.detail >span >b >a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.detail >span >b >a::before{
  content: "@";
  display: inline;
}