.notification-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2rem;
  right: 10px;
  background-color: rgb(255, 254, 254);
  max-height: 30rem;
  width: 14rem;
  box-shadow: 0 0 3px rgb(161, 161, 161);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 1rem 0 1rem 1rem;
}

.notification-item {
  cursor: pointer;
  position: relative;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 -1px 0 rgb(223, 210, 210);
  width: 100%;
}

.notification-item > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.notification-item h2 {
  margin: 0;
  font-size: 0.75rem;
}

.notification-item p {
  margin: 0;
  width: 90%;
  font-size: 0.65rem;
}

.notification-item p:last-child {
  color: #808080;
  font-size: 0.56rem;
}

/* .button-notification {
  position: sticky;
  width: 100%;
  color: var(--orange);
  border: 2px solid var(--orange);
  bottom: 0;
  padding: 8px;
  border-radius: 0;
  background: #fff;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  margin-top: 2rem;
}

.button-notification:hover {
  background-color: #fff;
} */

.notification-clear {
  position: sticky;
  display: flex;
  bottom: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #808080;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  box-shadow: 0px -1px 0px rgb(230, 216, 216)
  
}

.notification-clear > svg {
  width: 2rem;
}
